#Project files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

[Oo]bj/
.tscache/

#NODE Modules
node_modules
package-lock.json

#Builds


#TMPs
tmp