script(type='module').
	import * as firebase from "https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js";

	const firebaseConfig = {
	apiKey: "AIzaSyB7mBXTD7lY7s-cRBBfixAjSp5zBSrlDl8",
	authDomain: "studentworkspace-21fb2.firebaseapp.com",
	projectId: "studentworkspace-21fb2",
	storageBucket: "studentworkspace-21fb2.appspot.com",
	messagingSenderId: "771149651600",
	appId: "1:771149651600:web:e575c23e589687d44dc215"
	};

	if (!firebase.getApps.length) {
		firebase.initializeApp(firebaseConfig);
	}