$text-dark: #0f101f;
$text-light: #161616;

$background-dark: #d4d3cb;
$background-light: #c1c1c1;

$border-color-dark: #707070;
$border-color-light: #9b9b9b;

$contrast-color-type1: #e9e9da;
$contrast-color-type2: #b9ac99;
$contrast-color-type3: #eaeecb;
$contrast-color-type4: #d8d8c7;
$contrast-color-type5: #c4c4c4;

$shadow-color: #222222;

$color-disabled: #ab4848;
$color-enabled: #48ab5e;
$color-wait: #ab9c48;


* {
	color: $text-light
}

header,
footer {
	background-color: $background-light;
}

header {
	box-shadow: 0px 2px 9px $shadow-color;
}

footer {
	box-shadow: 0px -2px 9px $shadow-color;
}

main {
	background-color: $background-dark;
}

div#app-container {
	border-color: $border-color-light;
}

div.content {
	border-color: $border-color-light;

	.info {
		background-color: $contrast-color-type1;
		border-color: $border-color-dark;

		span.title {
			border-color: $border-color-dark;
		}
	}

	div#tasks-container {
		background-color: $contrast-color-type1;
		border-color: $border-color-dark;

		span.title {
			border-color: $border-color-dark;
		}

		div.general {
			border-color: $border-color-dark;
		}
	}

	div#sendtask-container {
		background-color: $contrast-color-type1;
		border-color: $border-color-dark;

		span.title {
			border-color: $border-color-dark;
		}

		label {
			background-color: $background-light;
			border-color: $border-color-dark;
		}
	}

	div#files-container {
		background-color: $contrast-color-type1;
		border-color: $border-color-dark;

		span.title {
			border-color: $border-color-dark;
		}
	}

	div.main-panel {
		div.general-panel {
			background-color: $background-light;
			border-color: $border-color-dark;

			div.viewport {
				background-color: $background-dark;
				border-color: $border-color-dark;

				div.name {
					background-color: $contrast-color-type4;
				}

				div.screen {
					div.camera {
						border-color: $border-color-light;
					}
				}
			}
		}

		div.sub-panel {
			div.query-list {
				background-color: $contrast-color-type1;
				border-color: $border-color-dark;

				div.title {
					background-color: $contrast-color-type4;
				}

				div.container {
					div.query-element {
						background-color: $contrast-color-type4;
						border-color: $border-color-light;

						span.title {
							border-color: $border-color-light;
							color: $text-dark;
						}
					}

				}
			}
		}
	}

	div.control-panel {
		border-color: $border-color-dark;

		span.current-room:hover {
			color: $text-dark;
		}

		span.current-room:active {
			color: $text-dark;
		}

		div.sub-panel {
			.btn {
				background-color: $contrast-color-type5;
			}
		}
	}
}

.btn {
	background-color: $contrast-color-type1;
	border-color: $border-color-dark;
}

.enabled-btn {
	background-color: $color-enabled;
}

.disabled-btn {
	background-color: $color-disabled;
	color: $text-dark;

	a {
		button {
			color: $text-dark;
		}
	}
}

.wait-btn {
	background-color: $color-wait;

	a {
		button {
			color: $text-dark;
		}
	}
}