div#home.content
{
	display: flex;
	justify-content: space-around;
	align-items: center;

	.btn
	{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		height: 70%;
		width: 30%;

		padding: 20px;

		div
		{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;

			width: 100%;

			span
			{
				width: 80%;
				margin-left: 40px;
				margin-bottom: 10px;

				text-align: left;
				font-size: 0.9em;
				font-weight: 300;
			}

			span.title
			{
				margin-left: 0;
				margin-bottom: 25px;

				text-align: center;
				font-size: 2.5em;
				font-weight: 900;
			}

			input
			{
				width: 80%;
				margin-bottom: 25px;

				font-size: 1.8em;
				font-weight: 400;
			}
		}

		div.btn
		{
			height: auto;
			width: 70%;

			a
			{
				button
				{
					font-size: 1.8em;
					font-weight: 400;
				}
			}
		}
	}
}