div#student_client.content
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	margin: 20px;

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	border-width: 2px;
	border-style: solid;
	border-radius: 7px;

	div.main-panel
	{
		display: flex;
		width: 100%;
		height: calc(100% - 110px);

		div.general-panel
		{
			width: calc(100% - 500px);
			height: 100%;

			border-width: 2px;
			border-style: solid;
			border-top-left-radius: 7px;
		}

		div.sub-panel
		{
			padding: 20px;;

			width: 460px;
			height: calc(100% - 40px);

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			div.query-list
			{
				margin-bottom: 10px;

				width: 100%;
				height: calc(100% - 10px);

				border-width: 2px;
				border-style: solid;
				border-radius: 7px;

				div.title
				{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					height: 60px;

					font-size: 1.5em;
					font-weight: 700;
				}

				div
				{
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;

					border-width: 2px;
					border-style: solid;
					border: 7px;
				}
			}
		}
	}

	div.control-panel
	{
		display: flex;
		width: 100%;
		height: 110px;

		border-width: 2px;
		border-style: solid;

		div
		{
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		div.general-panel
		{
			width: calc(100% - 500px);
			height: 100%;
		}

		div.sub-panel
		{
			width: 500px;
			height: 100%;
			justify-content: space-around;
			align-items: center;

			.btn
			{
				width: 90%;
				border-radius: 7px;
			}
		}
	}
}

.btn
{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 10px;

	height: 40%;
	width: auto;

	padding: 5px 30px;

	a
	{
		img
		{
			height: 100%;
			margin-right: 7px;
		}
	}
}