div#student_client.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	margin: 20px;

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	border-width: 2px;
	border-style: solid;
	border-radius: 7px;

	div.main-panel {
		display: flex;
		width: 100%;
		height: calc(100% - 110px);

		div.general-panel {
			width: calc(100% - 500px);
			height: 100%;

			border-width: 2px;
			border-style: solid;
			border-top-left-radius: 7px;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			overflow: auto;

			div.viewport {
				position: absolute;

				width: 69%;
				height: auto;

				margin-bottom: 5px;

				border-width: 2px;
				border-style: solid;
				border-radius: 7px;

				div.name {
					position: absolute;
					bottom: 0;

					width: 100%;

					padding-top: 10px;
					padding-bottom: 10px;

					text-align: center;

					opacity: 0.5;
				}

				div.screen {
					position: relative;
					width: 100%;
					height: 100%;

					display: flex;
					justify-content: center;
					align-items: center;

					video {
						width: 100%;
						height: 100%;
					}

					div.camera {
						position: absolute;
						width: 25%;
						height: auto;

						display: flex;
						justify-content: center;
						align-items: center;

						border-width: 1px;
						border-style: solid;
						border-bottom-right-radius: 50px;

						left: 0;
						top: 0;

						video {
							width: 100%;
							height: 100%;

							border-bottom-right-radius: 50px;
						}
					}
				}

				audio.mic {
					display: none;
				}
			}
		}

		div.sub-panel {
			padding: 20px;
			;

			width: 460px;
			height: calc(100% - 40px);

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			div.query-list.theme {
				height: 25%;
			}

			div.query-list {
				margin-bottom: 10px;

				width: 100%;
				height: calc(100% - 10px);

				border-width: 2px;
				border-style: solid;
				border-radius: 7px;

				div.title {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					height: 60px;

					font-size: 1.5em;
					font-weight: 700;
				}

				div {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;

					border-width: 2px;
					border-style: solid;
					border: 7px;
				}
			}
		}
	}

	div.control-panel {
		display: flex;
		width: 100%;
		height: 110px;

		border-width: 2px;
		border-style: solid;

		div {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		div.general-panel {
			width: calc(100% - 500px);
			height: 100%;

			span.current-room {
				margin-left: 30px;

				-webkit-user-select: text;
				-moz-user-select: text;
				user-select: text;
			}
		}

		div.sub-panel {
			width: 500px;
			height: 100%;
			justify-content: space-around;
			align-items: center;

			.btn {
				width: 90%;
				border-radius: 7px;
			}
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 10px;

	height: 40%;
	width: auto;

	padding: 5px 30px;

	a {
		img {
			height: 100%;
			margin-right: 7px;
		}
	}
}