.btn
{
	border-width: 2px;
	border-style: solid;
	border-radius: 40px;

	a
	{
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100%;
		width: 100%;

		button
		{
			display: flex;
			justify-content: center;
			align-items: center;

			height: 100%;
			width: 100%;

			background: none;
			border: none;

			font-size: 1.5em;
			font-weight: 800;
		}
	}
}