footer {
	div {
		display: flex;
		flex-direction: column;
		align-items: center;

		span {
			font-size: 0.8em;
			font-weight: 300;
		}

		a {
			cursor: pointer;
			font-size: 0.6em;
			font-weight: 200;
		}
	}
}