div#home.content
	div.btn
		div
			span.title I'm teacher
			span Full name
			input.btn(type="text" placeholder="Ivanov Ivan Ivanovich")
		div#teacher-mode.btn.enabled-btn
			a
				button Make call
	div.btn
		div
			span.title I'm student
			span Full name
			input.btn(type="text" placeholder="Ivanov Ivan Ivanovich")
			span Call ID
			input.btn(type="text" placeholder="0asdsadad01210")
		div#student-mode.btn.enabled-btn
			a
				button Join call