div#home.content
	div.btn
		div
			span.title I'm teacher
			span Full name
			input#teacher-name.btn(type="text" placeholder="Ivanov Ivan Ivanovich")
		div#teacher-mode.btn.enabled-btn
			a
				button Make call
	div.btn
		div
			span.title I'm student
			span Full name
			input#student-name.btn(type="text" placeholder="Ivanov Ivan Ivanovich")
			span Call ID
			input#roomid.btn(type="text" placeholder="call id here")
		div#student-mode.btn.enabled-btn
			a
				button Join call