div#student_client.content
	div.main-panel
		div.general-panel
		div.sub-panel
			div.query-list.theme
				div.title Theme
				div.theme
			div.query-list
				div.title Tasks
				div
	div.control-panel
		div.general-panel
			div.btn.disabled-btn.end-call-btn
				a
					img(src="images/icons/phone.png")
					button End Call
			div.btn.wait-btn.mic-btn
				a
					img(src="images/icons/mic.png")
					button
			div.btn.wait-btn.video-btn
				a
					img(src="images/icons/video.png")
					button
			div.btn.ask
				a
					span Ask question
					button
			span.current-room room number is:
		div.sub-panel
			div.btn.files
				a
					button Files
			div.btn.send
				a
					button Send task