div#student_client.content
	div.main-panel
		div.general-panel
		div.sub-panel
			div.query-list.theme
				div.title Theme
				div.theme
			div.query-list.tasks
				div.title Tasks
				div.tasks
	div.control-panel
		div.general-panel
			div.btn.disabled-btn.end-call-btn
				a
					img(src="images/icons/phone.png")
					button End Call
			div.btn.wait-btn.mic-btn
				a
					img(src="images/icons/mic.png")
					button
			div.btn.wait-btn.video-btn
				a
					img(src="images/icons/video.png")
					button
			div.btn.ask
				a
					span Ask question
					button
			span room number is:
			span.current-room #id
		div.sub-panel
			div.btn.files
				a
					button Files
			div.btn.send
				a
					button Send task
	div#sendtask-container
		span.title Send Task
		div.container
			label(for="sendtaskinput") Select file
			input#sendtaskinput(type="file")
			div.btn
				a
					span Close
	div#files-container
		span.title Files
		div.container
			div
				div.links
				div.files
			div.btn
				a
					span Close


