div#teacher_client.content
	div.main-panel
		div.general-panel
		div.sub-panel
			div.query-list
				div.title Query
				div.container
	div.control-panel
		div.general-panel
			div.btn.disabled-btn.end-call-btn
				a
					img(src="images/icons/phone.png")
					button End Call
			div.btn.wait-btn.mic-btn
				a
					img(src="images/icons/mic.png")
					button
			div.btn.wait-btn.video-btn
				a
					img(src="images/icons/video.png")
					button
			div.btn.standart-mode
				a
					span standart mode
					button
			div.btn.lection-mode
				a
					span lection mode
					button
			span room number is:
			span.current-room #id
		div.sub-panel
			div.btn.tasks
				a
					button Tasks
	div#tasks-container
		span.title Current Task
		div.container
			div.general
				div.btn.theme
					a
						span Theme
						input.btn(type="text" placeholder="Current Theme")
				div.btn.tasks
					a
						span Tasks
				div.btn.files
					a
						span Files
				div.btn.links
					a
						span Links
				div.btn.enabled-btn
					a
						span Save
			div.sub
				div.tasks-container.con
					div.control
						input.btn(type="text" placeholder="task")
						button.btn Add
					div.content
				div.files-container.con
					div.control
						label.btn(for="addfileinput") Select file
						input#addfileinput.btn(type="file")
						button.btn Add
					div.content
				div.links-container.con
					div.control
						input.btn(type="text" placeholder="https://link.com")
						button.btn Add
					div.content