div#teacher_client.content
	div
		div.viewport
		div.sub-panel
			div#query-list
				div
				div
	div.control-panel
		div
			div
				button End Call
					img(src="images/icons/phone.png")
			div
				button
			div
				button
		div
			div
				button